<body>
<div class="container">

  <div class="row">
    <main class="form-DeviceType">
      <form>
        <h1 class="h3 mb-3 fw-normal">Create Class</h1>
        <div>
          <select name="serv" type="serv" id="serv" #servSelect>

            <option value="" selected>Seleccione Tipo </option>

            <option *ngFor="let serv of servDisp" [value]="serv.id">{{serv.name}}</option>
          </select>
        </div>

        <a>
          <label class="switch">
            <input type="checkbox" (change)="onChangeIndv()">
            Individual
            <span class="slider round"></span>
          </label>
        </a>
        <label for="inputCapacidad" class="visually-hidden">Capacidad</label>
        <input id="inputCapacidad" class="form-control" placeholder="Capacidad" #capacidad>

        <div>
          <select name="empl" type="empl" id="empl" #emplSelect>

            <option selected>Seleccione el empleado instructor</option>

            <option *ngFor="let empl of empleadosDisp" [value]="empl.idCard">ID: {{empl.idCard}}</option>
          </select>
        </div>

        <div>
          <select name="sedes" type="sedes" id="sedes" #sedeSelect>

            <option value="" selected>Seleccionar Sucursal</option>

            <option *ngFor="let sede of sucursalesDisp" [value]="sede.id">ID: {{sede.id}}</option>
          </select>
        </div>

        <span>Dia de la clase:</span>
        <div>
          <input type="date" id="fecha" name="fecha" #fechainput required value=null>
        </div>

        <label for="strtHour">Inicio de clase: .</label>

        <input type="time" id="strtHour" name="strtHour" #strHour required value=null>

        <label for="endHour">Final de clase: .</label>

        <input type="time" id="endHour" name="endHour" #endHour required value=null>


        <!--Upload data to loging with this button -->
        <button class="w-100 btn btn-lg btn-primary" type="submit"  (click)="createClass(sedeSelect.value, servSelect.value, emplSelect.value, strHour.value, endHour.value, fechainput.value, capacidad.value)">
          Create
        </button>
      </form>
    </main>
  </div>


</div>
</body>
