<body>
<div class="container">

  <div class="row">
    <main class="form-DeviceType">
      <form>
        <h1 class="h3 mb-3 fw-normal">Create Class</h1>
        <div>
          <select name="empl" type="empl" id="empl" #empl (change)="onChange(empl.value)" #emplSelect>

            <option value="" selected>Seleccione Tipo </option>

            <option *ngFor="let empl of empleadosDisp" [value]="empl.email">ID: {{empl.email}}</option>
          </select>
        </div>

        <a>
          <label class="switch">
            <input type="checkbox">
            Individual
            <span class="slider round"></span>
          </label>
        </a>
        <label for="inputCapacidad" class="visually-hidden">Capacidad</label>
        <input id="inputCapacidad" class="form-control" placeholder="Capacidad" #Capacidad>

        <div >
          <select name="empl" type="empl" id="empl" #empl (change)="onChange(empl.value)" #emplSelect>

            <option  selected>Seleccione correo del empleado</option>

            <option *ngFor="let empl of empleadosDisp" [value]="empl.email">ID: {{empl.email}}</option>
          </select>
        </div>

        <div>
          <select name="sedes" type="sedes" id="sedes" #sucursal (change)="onChange(sucursal.value)" #sedeSelect>

            <option value="" selected>Seleccionar Sucursal</option>

            <option *ngFor="let sede of sucursalesDisp" [value]="sede.id">ID: {{sede.id}}</option>
          </select>
        </div>

        <span>Dia de la clase:</span>
        <div>
          <input type="date" id="fecha" name="fecha" #fechainput required value=null>
        </div>


        <!--Upload data to loging with this button -->
        <button class="w-100 btn btn-lg btn-primary" type="submit" href="welcome!">
          Create
        </button>
        <a>-or-</a>
        <div style="text-align: center">
          <select align="center" name="sedes" type="sedes" id="sedes" #sucursal (change)="onChangeClass(sucursal.value)" #sedeSelect>

            <option value="" selected>Clase</option>

            <option *ngFor="let sede of sucursalesDisp" [value]="sede.id">ID: {{sede.id}}</option>
          </select>
        </div>
        <button class="w-100 btn btn-lg btn-secondary" type="submit" href="welcome!">Edit</button>
        <button class="w-100 btn btn-lg " type="submit" href="welcome!">Delete</button>
      </form>
    </main>
  </div>

  
</div>
</body>
