<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar">

      <!-- NAVIGATION BARS -->
      <!--Título de la página principal de la web-->
      <a class="navbar-brand" href="">GymTEC</a>

      <!--Botón del navigation bar con el título de Registrar-->
      <!--Tiene la función regresar-->
      <ul class="navbar-nav me-auto mb-1 mb-sm-0" *ngIf="!this.usersService.isLogged || !isReg">

        <!--Super User Tools-->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="SwitchSUser()">{{this.usersService.isAdmin? "Admin":"Client"}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="LogSUser()">{{this.usersService.isLogged? "Super Log":"S-Log Out"}}</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/register">Register</a>
        </li>
      </ul>

      <!-- Navigation Bar for Admin -->
      <ul class="navbar-nav me-auto mb-1 mb-sm-0" *ngIf="this.usersService.isAdmin && this.usersService.isLogged">
        
        <!--Botón del navigation bar con el título de Sucursales-->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/sucursales">Sucursales</a>
        </li>

        <!--Botón del navigation bar con el título de Tratamientos de Spa-->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/tratamientos">Tratamientos de Spa</a>
        </li>

        <!--Botón del navigation bar con el título de Puestos-->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/puestos">Puestos</a>
        </li>


        <!--Botón del navigation bar con el título de (Creacion) PLanilla-->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/planilla">Planilla</a>
        </li>

        <!--Botón del navigation bar con el título de Empleados-->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/empleados">Empleados</a>
        </li>

        <!--Botón del navigation bar con el título de Servicios-->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/servicios">Servicios</a>
        </li>

        <!--Botón del navigation bar con el título de Tipos de Equipos-->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/tipos">Tipos de Equipos</a>
        </li>

        <!--Botón del navigation bar con el título de Tipos de Equipos-->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/inventario">Inventario</a>
        </li>
        

        <!--Botón del navigation bar con el título de Crear Clase-->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/cClase">CrearClase</a>
        </li>

        <!--Botón del navigation bar con el título de Agregar Producto-->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/cProducto">Agregar Producto</a>
        </li>

        <!--Botón del navigation bar con el título de Agregar Producto-->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/configGym">Config Gym</a>
        </li>

        <!--Botón del navigation bar con el título de Copiar Semana-->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/copiarSem">Copiar Semana</a>
        </li>
        <!--Botón del navigation bar con el título de Copiar Gym-->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/copiarGym">Copiar Gym</a>
        </li>

        <!--Botón del navigation bar con el título de Copiar Gym-->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/vPlanilla">Ver Planilla</a>
        </li>

      </ul>

      <!-- Navigation Bar for Client -->
      <ul class="navbar-nav me-auto mb-1 mb-sm-0" *ngIf="!this.usersService.isAdmin && this.usersService.isLogged">

        <!--Registro de clases -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/clases">Registrar Clases</a>
        </li>
      </ul>


    </div>
  </div>
</nav>

<app-calendar></app-calendar>

<router-outlet></router-outlet>
