<body >
  <div class="container">

    <div class="row">
      <main class="form-DeviceType">
        <form>
          <h1 class="h3 mb-3 fw-normal">Agregar Producto </h1>

          <label for="inputName" class="visually-hidden">Name</label>
          <input id="inputName" class="form-control" placeholder="Nombre" #name>

          <label for="BarCode" class="visually-hidden">BarCode</label>
          <input id="BarCode" class="form-control" placeholder="Bar Code" #BarCode>

          <label for="Description" class="visually-hidden">Description</label>
          <input id="Description" class="form-control" placeholder="Descripcion" #description>

          <label for="Price" class="visually-hidden">Price</label>
          <input id="Price" class="form-control" placeholder="Precio" #Price>

         <!-- <select name="servicios" type = "servicios" id="servicios" #servicio (change)="onChange(servicio.value)">
            <option value="">Servicios Disponibles</option>
            <option *ngFor="let service of serviciosDisp" [value]="service.id">ID: {{service.id}}</option>
          </select> -->

          <!--Upload data to loging with this button -->
          <button class="w-100 btn btn-lg btn-primary" type="submit"
                  (click)="addProduct(name.value, description.value, BarCode.value, Price.value)">
            Create
          </button>

          <button class="w-100 btn btn-lg btn-primary mb-2" type="Actualizar">Actualizar</button>

          <button class="w-100 btn btn-lg btn-primary mb-2" type="Eliminar">Eliminar</button>

        </form>
      </main>
    </div>
  </div>
</body>
