<body >
  <div class="container">

    <div class="row">
      <main class="form-DeviceType">
        <form>
          <h1 class="h3 mb-3 fw-normal">Agregar Producto </h1>

          <label for="inputName" class="visually-hidden">Name</label>
          <input id="inputName" class="form-control" name="Nombre" placeholder="Nombre" #name [ngModel]="productoSeleccionado.name">

          <label for="BarCode" class="visually-hidden">BarCode</label>
          <input id="BarCode" class="form-control" name="BarCode" placeholder="Bar Code" #BarCode [ngModel]="productoSeleccionado.barCode">

          <label for="Description" class="visually-hidden">Description</label>
          <input id="Description" class="form-control" name="Descripcion" placeholder="Descripcion" #description [ngModel]="productoSeleccionado.description">

          <label for="Price" class="visually-hidden">Price</label>
          <input id="Price" class="form-control" name="Precio" placeholder="Precio" #Price [ngModel]="productoSeleccionado.price">

          <a>Productos disponibles: </a>

          <select name="productos" id="productos" #productosSelect (change)="onChange(productosSelect.value)">
            <option value="">Productos Disponibles</option>
            <option *ngFor="let producto of productos" [value]="producto.barCode">Codigo: {{producto.barCode}}</option>
          </select>

          <!--Upload data to loging with this button -->
          <button class="w-100 btn btn-lg btn-primary" type="submit"
                  (click)="addProduct(name.value, description.value, BarCode.value, Price.value)">
            Create
          </button>

          <button class="w-100 btn btn-lg btn-primary mb-2" type="Actualizar"
                  (click)="modificarProducto(name.value, description.value, productosSelect.value, Price.value)">
            Actualizar</button>

          <button class="w-100 btn btn-lg btn-primary mb-2" type="Eliminar"
                  (click)="eliminarProducto(productosSelect.value)">
            Eliminar</button>

        </form>
      </main>
    </div>
  </div>
</body>
