<!DOCTYPE html> <!--indica que es html5-->

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />


</head>

<body class="text-center">

<main class="form-signin">

  <form>
    <!--Imagen tipo logo de la página-->
    <img class="mb-4" src="../assets/img/logo-tec.png" alt="" width="200" height="107">

    <!--Revisar esta parte-->
    <h1 class="h3 mb-3 fw-normal">Empleados</h1>

    <!--Sección de inputs para ingresar la diferente información-->

    <!--input nombre del empleado-->
    <label for="inputnombre" class="visually-hidden">Nombre</label>
    <input type = "nombre" id="inputnombre" class="form-control" placeholder="Nombre">

    <!--input primer apellido del empleado-->
    <label for="inputpapellido" class="visually-hidden">Primer Apellido</label>
    <input type = "papellido" id="inputpapellido" class="form-control" placeholder="Primer Apellido">

    <!--input  segundo apellido del empleado-->
    <label for="inputsapellido" class="visually-hidden">Segundo Apellido</label>
    <input type = "sapellido" id="inputsapellido" class="form-control" placeholder="Segundo Apellido">

    <!--input cedula del empleado-->
    <label for="inputcedula" class="visually-hidden">Cedula</label>
    <input type = "cedula" id="inputcedula" class="form-control" placeholder="Cédula">

    <!--input del telefono del empleado-->
    <label for="inputelefono" class="visually-hidden">Cédula</label>
    <input type='telefono' id="inputelefono" class="form-control" placeholder="Teléfono">

    <!--input provincia del empleado-->
    <label for="inputprovincia" class="visually-hidden">Provincia</label>
    <input type = "provincia" id="inputprovincia" class="form-control" placeholder="Provincia">

    <!--input canton del empleado-->
    <label for="inputcanton" class="visually-hidden">Canton</label>
    <input type = "canton" id="inputcanton" class="form-control" placeholder="Canton">

    <!--input distrito del empleado-->
    <label for="inputdistrito" class="visually-hidden">Distrito</label>
    <input type = "distrito" id="inputdistrito" class="form-control" placeholder="Distrito">

    <!--input puesto del empleado-->
    <label for="inputpuesto" class="visually-hidden">Puesto desempeñado</label>
    <input type = "puesto" id="inputpuesto" class="form-control" placeholder="Puesto desempeñado">


    <!--input sucursal empleado-->
    <label for="inputsucursal" class="visually-hidden">Sucursal</label>
    <input type = "sucursal" id="inputsucursal" class="form-control" placeholder="Sucursal">

    <!--input tipo de planilla empleado-->
    <label for="inputplanilla" class="visually-hidden">Planilla</label>
    <input type = "planilla" id="inputplanilla" class="form-control" placeholder="Planilla">

    <!--input salario empleado empleado-->
    <label for="inputsalario" class="visually-hidden">Salario</label>
    <input type = "salario" id="inputsalario" class="form-control" placeholder="Salario">

    <!--input correo electrónico empleado-->
    <label for="inputcorreo" class="visually-hidden">Correo</label>
    <input type = "correo" id="inputcorreo" class="form-control" placeholder="Correo Electrónico">

    <!--input contraseña empleado-->
    <label for="inputcontrasena" class="visually-hidden">Contrasena</label>
    <input type = "contrasena" id="inputcontrasena" class="form-control" placeholder="Contraseña">

    <!--Upload data to loging with this button -->
    <button class="w-100 btn btn-lg btn-primary mb-2"  type="Registrar" href="welcome!">Registrar</button>

    <button class="w-100 btn btn-lg btn-primary mb-2" type="Eliminar" href="welcome!">Eliminar</button>

    <button class="w-100 btn btn-lg btn-primary mb-2" type="Actualizar" href="welcome!">Actualizar</button>

  </form>

</main>

</body>

</html>
