<!DOCTYPE html> <!--indica que es html5-->

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />


</head>

<body class="text-center">

<main class="form-signin">

  <form>
    <!--Imagen tipo logo de la página-->
    <img class="mb-4" src="../assets/img/logo-tec.png" alt="" width="200" height="107">

    <!--Revisar esta parte-->
    <h1 class="h3 mb-3 fw-normal">Empleados</h1>

    <!--Sección de inputs para ingresar la diferente información-->


    <a>Nombre de empleado </a>
    <!--input nombre del empleado-->
    <label for="inputnombre" class="visually-hidden">Nombre</label>
    <input id="inputnombre" class="form-control" placeholder="Nombre" name="Nombre"
           [ngModel]="empleadoSeleccionado.name" #inputEmpleado>

    <a>Primer Apellido </a>
    <!--input primer apellido del empleado-->
    <label for="inputpapellido" class="visually-hidden">Primer Apellido</label>
    <input id="inputpapellido" class="form-control" placeholder="Primer Apellido" name="Primer Apellido"
           [ngModel]="empleadoSeleccionado.last_name1" #inputprimerapellido>

    <a>Segundo Apellido </a>
    <!--input  segundo apellido del empleado-->
    <label for="inputsapellido" class="visually-hidden">Segundo Apellido</label>
    <input id="inputsapellido" class="form-control" placeholder="Segundo Apellido" name="Segundo Apellido"
           [ngModel]="empleadoSeleccionado.last_name2" #inputsegundoapellido>

    <a>Cédula </a>
    <!--input cedula del empleado-->
    <label for="inputcedula" class="visually-hidden">Cedula</label>
    <input id="inputcedula" class="form-control" placeholder="Cédula" name="Cédula"
           [ngModel]="empleadoSeleccionado.idCard" #inputcedula>

    <a>Provincia </a>
    <!--input provincia del empleado-->
    <label for="inputprovincia" class="visually-hidden">Provincia</label>
    <input id="inputprovincia" class="form-control" placeholder="Provincia" name="Provincia"
           [ngModel]="empleadoSeleccionado.province" #inputprovincia>

    <a>Cantón </a>
    <!--input canton del empleado-->
    <label for="inputcanton" class="visually-hidden">Canton</label>
    <input id="inputcanton" class="form-control" placeholder="Canton" name="Canton"
           [ngModel]="empleadoSeleccionado.canton" #inputcanton>

    <a>Distrito </a>
    <!--input distrito del empleado-->
    <label for="inputdistrito" class="visually-hidden">Distrito</label>
    <input id="inputdistrito" class="form-control" placeholder="Distrito" name="Distrito"
           [ngModel]="empleadoSeleccionado.district" #inputdistrito>

    <a>Puesto </a>
    <!--input puesto del empleado-->
    <select name="puesto" id="puesto" #puestos (change)="onChangeP(puestos.value)">
      <option value="" selected>Puesto</option>
      <option *ngFor="let puesto of puestoS" [value]="puesto.id">Cédula: {{empleado.id}}</option>
    </select>

    <a>Sucursal </a>
    <!--input sucursal empleado-->
    <select name="sucursal" id="sucursal" #sucursales (change)="onChangeS(sucursales.value)">
      <option value="" selected>Sucursal</option>
      <option *ngFor="let sucursall of sucursalS" [value]="sucursall.id">Cédula: {{sucursall.id}}</option>
    </select>

    <a>Planilla </a>
    <!--input tipo de planilla empleado-->
    <select name="planilla" id="planilla" #planillas (change)="onChangePL(planillas.value)">
      <option value="" selected>Planilla</option>
      <option *ngFor="let plnilla of planillaS" [value]="plnilla.id">Cédula: {{plnilla.id}}</option>
    </select>

    <a>Salario </a>
    <!--input salario empleado empleado-->
    <label for="inputsalario" class="visually-hidden">Salario</label>
    <input id="inputsalario" class="form-control" placeholder="Salario" name="Salario"
           [ngModel]="empleadoSeleccionado.salary" #inputsalario>

    <a>Correo </a>
    <!--input correo electrónico empleado-->
    <label for="inputcorreo" class="visually-hidden">Correo</label>
    <input id="inputcorreo" class="form-control" placeholder="Correo Electrónico" name="Correo Electrónico"
           [ngModel]="empleadoSeleccionado.email" #inputcorreo>

    <a>Contraseña </a>
    <!--input contraseña empleado-->
    <label for="inputcontrasena" class="visually-hidden">Contrasena</label>
    <input id="inputcontrasena" class="form-control" placeholder="Contraseña" name="Contraseña"
           [ngModel]="empleadoSeleccionado.password" #inputcontrasena>

    <a>Empleados: </a>

    <select name="empleados" id="empleados" #empleado (change)="onChange(empleado.value)">
      <option value="" selected>Seleccione un empleado</option>
      <option *ngFor="let empleado of empleadosDisp" [value]="empleado.idCard">Cédula: {{empleado.idCard}}</option>
    </select>

    <!--Upload data to loging with this button -->
    <button class="w-100 btn btn-lg btn-primary mb-2"  type="Registrar"
           (click)="crearEmpleado(inputcedula.value, sucursales.value, puestos.value, planillas.value,
           inputcorreo.value, inputcontrasena.value, inputEmpleado.value,inputprimerapellido.value, inputsegundoapellido.value,
           inputprovincia.value, inputcanton.value, inputdistrito.value, inputsalario.value)">
      Registrar</button>

    <button class="w-100 btn btn-lg btn-primary mb-2" type="Eliminar"
            (click)="modificarEmpleado(empleado.value, sucursales.value, puestos.value, planillas.value,
           inputcorreo.value, inputcontrasena.value, inputEmpleado.value,inputprimerapellido.value, inputsegundoapellido.value,
           inputprovincia.value, inputcanton.value, inputdistrito.value, inputsalario.value)">Actualizar</button>

    <button class="w-100 btn btn-lg btn-primary mb-2" type="Actualizar"
           (click)="eliminarEmpleado(empleado.value)">Eliminar</button>

  </form>

</main>

</body>

</html>
