<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />


</head>
<body class="text-center">

<main class="form-signin">
  <form>
    <img class="mb-4" src="../assets/img/logo-tec.png" alt="" width="200" height="107">
    <h1 class="h3 mb-3 fw-normal">Tipos de Equipos</h1>


    <!-- Inidicación de datos a solicitar para los tratamientos -->
    <a>Ingrese nombre y código del equipo </a>

    <!-- Input para solicitar el nombre del serivicio -->
    <label for="inputequipo" class="visually-hidden">TipoEquipo</label>
    <input id="inputequipo" class="form-control" placeholder="Equipo" name="Equipo" [ngModel]="tipoSeleccionado.name" #inputequipo>

    <a>Equipos Disponibles: </a>

    <!-- List para agregar los servicios registrados en la página  -->

    <select name="equipos" type = "equipos" id="equipos" #equipo  (change)="onChange(equipo.value)">
      <option value="">Equipos Disponibles</option>

      <option *ngFor="let tipo of tiposDisp" [value]="tipo.id">ID: {{tipo.id}}</option>
      <!-- <option value="audi">Audi</option> -->
    </select>

    <!--Upload data to loging with this button -->
    <button class="w-100 btn btn-lg btn-primary mb-2" (click)="crearEquipo(inputequipo.value)">Agregar</button>

    <button class="w-100 btn btn-lg btn-primary mb-2" (click)="eliminarEquipo(equipo.value)" >Eliminar</button>

    <button class="w-100 btn btn-lg btn-primary mb-2" (click)="modificarEquipo(equipo.value, inputequipo.value)" >Actualizar</button>

  </form>
</main>

</body>
</html>
