<h4>Inventario</h4>
<p>Inventario de equipos de entrenamiento</p>
<div class="overflow-auto">
  <table class="table table-responsive-sm table-hover table-striped" cellspacing="0"
         width="100%">
    <thead>
      <tr>
        <th scope="col">Numero de Serie</th>
        <th scope="col">ID de equipamento</th>
        <th scope="col">Marca</th>
        <th scope="col">Precio</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <!--For cuando se sepa que reciba-->
      <tr *ngFor="let maquina of maquinas">

        <td>{{maquina.serialNumber}}</td>
        <td>{{maquina.idEquipment}}</td>
        <td>{{maquina.brand}}</td>
        <td>{{maquina.price}}</td>
        <td>
          <select name="sedes" type="sedes" id="sedes" #sedeSelect>

            <option value="" selected>Seleccionar Sucursal</option>

            <option *ngFor="let sede of sucursalesDisp" [value]="sede.id">ID: {{sede.id}}</option>
          </select>
        </td>
        <td><button type="submit" class="btn btn-success mb-2" (click)="asociar(maquina, sedeSelect.value )">Asociar</button></td>
      </tr>
    </tbody>
  </table>
</div>
