<!DOCTYPE html> <!--indica que es html5-->

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />


</head>

<body class="text-center">

  <main class="form-signin">

    <form>
      <!--Imagen tipo logo de la página-->
      <img class="mb-4" src="../assets/img/logo-tec.png" alt="" width="200" height="107">

      <!--Revisar esta parte-->
      <h1 class="h3 mb-3 fw-normal">Registro de sedes</h1>

      <!--Sección de inputs para ingresar la diferente información-->

      <!--input nombre de la sede-->
      <label for="inputsede" class="visually-hidden">Sede</label>
      <input type = "sede" id="inputsede" class="form-control" placeholder="Nombre de sede">

      <!--input telefono de la sede-->
      <label for="inputelefono" class="visually-hidden">Telefono</label>
      <input type='telefono' id="inputelefono" class="form-control" placeholder="Teléfono">

      <!--input administrador de la sede-->
      <label for="inputadminsitrador" class="visually-hidden">Password</label>
      <input type="administrador" id="inputadminsitrador" class="form-control" placeholder="Administrador" >

      <!--input provincia de la sede-->
      <label for="inputprovincia" class="visually-hidden">Provincia</label>
      <input type = "provincia" id="inputprovincia" class="form-control" placeholder="Provincia">

      <!--input canton de la sede-->
      <label for="inputcanton" class="visually-hidden">Canton</label>
      <input type = "canton" id="inputcanton" class="form-control" placeholder="Canton">

      <!--input distrito de la sede-->
      <label for="inputdistrito" class="visually-hidden">Distrito</label>
      <input type = "distrito" id="inputdistrito" class="form-control" placeholder="Distrito">

      <!--input fecha de la sede-->
      <label for="inputfecha" class="visually-hidden">Fecha</label>
      <input type = "fecha" id="inputfecha" class="form-control" placeholder="Fecha">

      <!--input horario de la sede-->
      <label for="inputhorario" class="visually-hidden">Horario</label>
      <input type = "horario" id="inputhorario" class="form-control" placeholder="Horario">

      <!--input capacidad de la sede-->
      <label for="inputcapacidad" class="visually-hidden">Capacidad</label>
      <input type = "capacidad" id="inputcapacidad" class="form-control" placeholder="Capacidad">


      <!--Upload data to loging with this button -->
      <button class="w-100 btn btn-lg btn-primary" type="Registrar" href="welcome!">Registrar</button>

    </form>

  </main>

</body>

</html>
