<!DOCTYPE html> <!--indica que es html5-->

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />


</head>

<body class="text-center">

<main class="form-signin">

  <form>
    <!--Imagen tipo logo de la página-->
    <img class="mb-4" src="../assets/img/logo-tec.png" alt="" width="200" height="107">

    <!--Revisar esta parte-->
    <h1 class="h3 mb-3 fw-normal">Inventario</h1>

    <!--Sección de inputs para ingresar la diferente información-->


    <a>Serie </a>
    <!--input  segundo apellido del empleado-->
    <label for="inputserie" class="visually-hidden">Serie</label>
    <input name = "Serie" id="inputserie" class="form-control" placeholder="Serie" [ngModel]="maquinaSleccionada.serialNumber" #inputserie>

    <a>Tipo de Equipo </a>
    <!--input nombre del empleado-->
    <label for="inputequipo" class="visually-hidden">Tipo de Equipo</label>
    <input name = "Tipo de equipo" id="inputequipo" class="form-control" placeholder="Tipo de equipo"
           [ngModel]="maquinaSleccionada.idEquipment" #inputmaquina>

    <a>Marca </a>
    <!--input primer apellido del empleado-->
    <label for="inputmarca" class="visually-hidden">Marca</label>
    <input name = "Marca" id="inputmarca" class="form-control" placeholder="Marca" [ngModel]="maquinaSleccionada.brand" #inputmarca>

    <a>Costo </a>
    <!--input cedula del empleado-->
    <label for="inputcosto" class="visually-hidden">Costo</label>
    <input name = "Costo" id="inputcosto" class="form-control" placeholder="Costo" [ngModel]="maquinaSleccionada.price" #inputcosto>

    <a>Máquinas Disponibles: </a>

    <select name="sedes" id="sedes" #maquinas (change)="onChange(maquinas.value)">

      <option value="" selected>Seleccionar máquina existente</option>

      <option *ngFor="let maquina of maquinaDisp" [value]="maquina.serialNumber">Serie: {{maquina.serialNumber}}</option>
    </select>

    <!--Upload data to loging with this button -->
    <button class="w-100 btn btn-lg btn-primary mb-2" (click)="crearMaquina(inputserie.value, inputmaquina.value,
                inputmarca.value, inputcosto.value)">Registrar</button>

    <button class="w-100 btn btn-lg btn-primary mb-2" (click)="eliminarMaquina(maquinas.value)">Eliminar</button>

    <button class="w-100 btn btn-lg btn-primary mb-2" (click)="modificarMaquina(maquinas.value, inputmaquina.value,
                inputmarca.value, inputcosto.value)">Actualizar</button>

  </form>

</main>

</body>

</html>
