<h4>Productos</h4>
<p>Inventario de equipos de Productos de Spa</p>
<div class="overflow-auto">
  <table class="table table-responsive-sm table-hover table-striped" cellspacing="0"
         width="100%">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Codigo de Barras</th>
        <th scope="col-6">Descipcion</th>
        <th scope="col">Precio</th>
        <th scope="col">Sucursal</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <!--For cuando se sepa que reciba-->
      <tr *ngFor="let produto of prodDisp">

        <td>{{producto.name}}</td>
        <td>{{producto.barCode}}</td>
        <td>{{producto.description}}</td>
        <td>{{producto.price}}</td>
        <td>
          <select name="sedes" type="sedes" id="sedes" #sucursal (change)="onChange(sucursal.value)" #sedeSelect>

            <option value="" selected>Seleccionar Sucursal</option>

            <option *ngFor="let sede of sucursalesDisp" [value]="sede.id">ID: {{sede.id}}</option>
          </select>
        </td>
        <td><button type="submit" class="btn btn-success mb-2" (click)="asociar(producto, sedeSelect.value )">Asociar</button></td>
      </tr>
    </tbody>
  </table>
</div>
