<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />


</head>
<body class="text-center">

<main class="form-signin">
  <form>
    <img class="mb-4" src="../assets/img/logo-tec.png" alt="" width="200" height="107">
    <h1 class="h3 mb-3 fw-normal">Planilla</h1>


    <!-- Inidicación de datos a solicitar para los tratamientos -->
    <a>Ingrese código y nombre de planilla</a>

    <!-- Input para solicitar el nombre del serivicio -->
    <label for="inputplanilla" class="visually-hidden">TipoPlanilla</label>
    <input type = "planilla" id="inputplanilla" [(ngModel)]= "planillaD.tipoPlanilla" class="form-control" placeholder="Tipo de planilla" name="Tipo de planilla">

    <!-- Input para solicitar el nombre del serivicio -->
    <label for="inputIdPlanilla" class="visually-hidden">IdPlanilla</label>
    <input type = "idplanilla" id="inputIdPlanilla"  [(ngModel)]= "planillaD.idPlanilla" class="form-control" placeholder="Id Planilla" name="Id Planilla">

    <a>Tipo de Planilla: </a>

    <!-- List para agregar los servicios registrados en la página  -->

    <select name="planillat" type = "planillat" id="planillat">
      <option value="Pago mensual">Pago mensual</option>
      <option value="Pago por horas">Pago por horas</option>
      <option value="Pago por clase">Pago por clase</option>
      <option value="Pago por clase" *ngFor="let planilla of planillaDisp">{{planillaD.tipoPlanilla}}</option>
      <!-- <option value="audi">Audi</option> -->
    </select>

    <!--Upload data to loging with this button -->
    <button class="w-100 btn btn-lg btn-primary mb-2" type="submit" (click)="agregarPlanilla()">Agregar</button>

    <button class="w-100 btn btn-lg btn-primary mb-2" type="Eliminar" href="welcome!">Eliminar</button>

    <button class="w-100 btn btn-lg btn-primary mb-2" type="Actualizar" href="welcome!">Actualizar</button>

  </form>
</main>

</body>
</html>
