<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />


</head>
<body class="text-center">

<main class="form-signin">
  <form>
    <img class="mb-4" src="../assets/img/logo-tec.png" alt="" width="200" height="107">
    <h1 class="h3 mb-3 fw-normal">Planilla</h1>


    <!-- Inidicación de datos a solicitar para los tratamientos -->
    <a>Ingrese código y nombre de planilla</a>

    <!-- Input para solicitar el nombre del serivicio -->
    <label for="inputplanilla" class="visually-hidden">TipoPlanilla</label>
    <input type = "planilla" id="inputplanilla" [(ngModel)]= "planillaSeleccionada.description"
           class="form-control" placeholder="Tipo de planilla" name="Tipo de planilla" #inputdescripcion>

    <!-- Input para solicitar el nombre del serivicio -->
    <label for="inputIdPlanilla" class="visually-hidden">IdPlanilla</label>
    <input type = "idplanilla" id="inputIdPlanilla" [(ngModel)]= "planillaSeleccionada.id"
           class="form-control" placeholder="Id Planilla" name="Id Planilla" #inputIdPlanilla>

    <!-- Input para solicitar el valor de pago por hora -->
    <label for="inputIdPlanilla" class="visually-hidden">pagoHorasPlanilla</label>
    <input type = "idplanilla" id="inputPagoHoras" [(ngModel)]= "planillaSeleccionada.hourlyPay"
           class="form-control" placeholder="Pago por horas" name="Pago horas" #inputpagohoras>

    <!-- Input para solicitar el valor de pago por mes -->
    <label for="inputIdPlanilla" class="visually-hidden">pagoMesPlanilla</label>
    <input type = "idplanilla" id="inputPagoMes" [(ngModel)]= "planillaSeleccionada.monthlyPay"
           class="form-control" placeholder="Pago por mes" name="Pago mes" #inputpagomes>

    <!-- Input para solicitar el valor de pago por clase -->
    <label for="inputIdPlanilla" class="visually-hidden">PagoClasesPlanilla</label>
    <input type = "idplanilla" id="inputPagoClases" [(ngModel)]= "planillaSeleccionada.payPerClass"
           class="form-control" placeholder="Pago por clase" name="Pago clase" #inputpagoclase>


    <a>Planillas disponibles: </a>

    <!-- List para agregar los servicios registrados en la página  -->

    <select name="planillat" type = "planillat" id="planillat" #planilla (change)="onChange(planilla.value)">
      <option value="" selected>Seleccione un tipo de planilla </option>
      <option value="Pago por clase" *ngFor="let planilla of planillaDisp" [value] = "planilla.id"> {{planilla.id}}</option>
      <!-- <option value="audi">Audi</option> -->
    </select>

    <!--Upload data to loging with this button -->
    <button class="w-100 btn btn-lg btn-primary mb-2" type="submit" (click)="crearPlanilla(inputIdPlanilla.value, inputdescripcion.value, inputpagohoras.value,
    inputpagomes.value, inputpagoclase.value)">Agregar</button>

    <button class="w-100 btn btn-lg btn-primary mb-2" type="Actualizar" (click)="eliminarPlanilla(planilla.value)">Eliminar</button>

    <button class="w-100 btn btn-lg btn-primary mb-2" type="Eliminar" (click)="modificarPlanilla(planilla.value, inputIdPlanilla.value, inputdescripcion.value,
    inputpagohoras.value, inputpagomes.value, inputpagoclase.value)">Modificar</button>



  </form>
</main>

</body>
</html>
