html,
body {
  height: 100%;
}
/*
Esto es la construcción de la página principal del registro de todas las sedes
con su respectiva información asociada
*/

/*Fondo general para toda la ventana principal*/
body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

/*Contenedor de todos los input que se muestran en la pantalla*/
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 5px;
  margin: auto;
}


.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

/*Input de Sede*/
.form-signin input[type="sede"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: white;
}

/*Input de Teléfono*/
.form-signin input[type="telefono"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: white;
}

/*Input de Administrador*/
.form-signin input[type="administrador"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: white;
}

/*Input Provincia*/
.form-signin input[type="provincia"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: white;
}

/*Input Canton*/
.form-signin input[type="canton"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: white;
}

/*Input Distrito*/
.form-signin input[type="distrito"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: white;
}

/*Input Fecha*/
.form-signin input[type="fecha"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: white;
}

/*Input Horario*/
.form-signin input[type="horario"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: white;
}

/*Input Capacidad*/
.form-signin input[type="capacidad"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: white;
}

