<!DOCTYPE html> <!--indica que es html5-->

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />


</head>

<body class="text-center">

<main class="form-signin">

  <form>
    <!--Imagen tipo logo de la página-->
    <img class="mb-4" src="../assets/img/logo-tec.png" alt="" width="200" height="107">

    <!--Revisar esta parte-->
    <h1 class="h3 mb-3 fw-normal">Sucursales</h1>

    <!--Sección de inputs para ingresar la diferente información-->

    <!--input nombre del empleado-->
    <label for="inputnombre" class="visually-hidden">Nombre</label>
    <input type = "sede" id="inputnombre" class="form-control" placeholder="Nombre" name="Nombre"
           [ngModel]="sucursalSeleccionada.name" #inputNombre>

    <!--input provincia del empleado-->
    <label for="inputprovincia" class="visually-hidden">Provincia</label>
    <input type = "provincia" id="inputprovincia" class="form-control" placeholder="Provincia" name="Provincia"
           [ngModel]="sucursalSeleccionada.province" #inputProvincia>

    <!--input canton del empleado-->
    <label for="inputcanton" class="visually-hidden">Canton</label>
    <input type = "canton" id="inputcanton" class="form-control" placeholder="Canton" name="Canton"
           [ngModel]="sucursalSeleccionada.canton" #inputCanton>

    <!--input distrito del empleado-->
    <label for="inputdistrito" class="visually-hidden">Distrito</label>
    <input type = "distrito" id="inputdistrito" class="form-control" placeholder="Distrito" name="Distrito"
           [ngModel]="sucursalSeleccionada.district" #inputDistrict>

    <!--input puesto del empleado-->
    <label for="inputfecha" class="visually-hidden">Fecha de Apertura</label>
    <input type = "date" id="inputfecha" class="form-control" placeholder="Fecha de Apertura" name="Fecha de apertura"
           [ngModel]="sucursalSeleccionada.openingDate | date:'yyyy-MM-dd'" #inputDate>

    <!--input sucursal empleado-->
    <label for="inputhorario" class="visually-hidden">Horario</label>
    <input type = "time" id="inputhorario" class="form-control" placeholder="Horario" name="Hora apertura"
           [ngModel]="sucursalSeleccionada.openingTime" #inputOpTime>

    <!--input sucursal empleado-->
    <input type = "time" id="inputhorario" class="form-control" placeholder="Horario" name="Hora cierre"
           [ngModel]="sucursalSeleccionada.closingTime" #inputCloTime>

    <!--input tipo de planilla empleado-->
    <label for="inputadministrador" class="visually-hidden">Administrador</label>
    <input type = "administrador" id="inputadministrador" class="form-control" placeholder="Administrador" name="Administrador"
           [ngModel]="sucursalSeleccionada.idAdmin" #inputAdmin>

    <!--input salario empleado empleado-->
    <label for="inputcapacidad" class="visually-hidden">Capacidad</label>
    <input type = "number" id="inputcapacidad" class="form-control" placeholder="Capacidad" name="Capacidad"
           [ngModel]="sucursalSeleccionada.capacity" #inputCapacity>

    <a>Sucursales Disponibles: </a>

    <select name="sedes" type = "sedes" id="sedes" #sucursal (change)="onChange(sucursal.value)">

      <option value="" selected>Seleccionar sucursal existente</option>

      <option *ngFor="let sede of sucursalesDisp" [value]="sede.id">ID: {{sede.id}}</option>
    </select>

    <!--Upload data to loging with this button -->
    <button class="w-100 btn btn-lg btn-primary mb-2" type="Registrar"
            (click)="crearSucursal(inputNombre.value, inputProvincia.value, inputCanton.value, inputDistrict.value,
                                   inputDate.value, inputOpTime.value, inputCloTime.value, inputAdmin.value, inputCapacity.value)">
      Registrar</button>

    <button class="w-100 btn btn-lg btn-primary mb-2" type="Eliminar" href="welcome!"
            (click)="eliminarSucursal(sucursal.value)">Eliminar</button>

    <button class="w-100 btn btn-lg btn-primary mb-2" type="Actualizar" href="welcome!"
            (click)="modificarSucursal(sucursal.value, inputNombre.value, inputProvincia.value, inputCanton.value, inputDistrict.value,
                                   inputDate.value, inputOpTime.value, inputCloTime.value, inputAdmin.value, inputCapacity.value)">Actualizar</button>

  </form>

</main>

</body>

</html>
