<!DOCTYPE html> <!--indica que es html5-->

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />


</head>

<body class="text-center">

<main class="form-signin">

  <form>
    <!--Imagen tipo logo de la página-->
    <img class="mb-4" src="../assets/img/logo-tec.png" alt="" width="200" height="107">

    <!--Revisar esta parte-->
    <h1 class="h3 mb-3 fw-normal">Sucursales</h1>

    <!--Sección de inputs para ingresar la diferente información-->

    <!--input nombre del empleado-->
    <label for="inputnombre" class="visually-hidden">Nombre</label>
    <input type = "sede" id="inputnombre" [(ngModel)]= "sedeDisp.name" class="form-control" placeholder="Nombre" name="Nombre">

    <!--input provincia del empleado-->
    <label for="inputprovincia" class="visually-hidden">Provincia</label>
    <input type = "provincia" id="inputprovincia" [(ngModel)]= "sedeDisp.province" class="form-control" placeholder="Provincia" name="Provincia">

    <!--input canton del empleado-->
    <label for="inputcanton" class="visually-hidden">Canton</label>
    <input type = "canton" id="inputcanton"  [(ngModel)]= "sedeDisp.canton" class="form-control" placeholder="Canton" name="Canton">

    <!--input distrito del empleado-->
    <label for="inputdistrito" class="visually-hidden">Distrito</label>
    <input type = "distrito" id="inputdistrito" [(ngModel)]= "sedeDisp.canton" class="form-control" placeholder="Distrito" name="Distrito">

    <!--input puesto del empleado-->
    <label for="inputfecha" class="visually-hidden">Fecha de Apertura</label>
    <input type = "date" id="inputfecha"  [(ngModel)]= "sedeDisp.openingDate" class="form-control" placeholder="Fecha de Apertura" name="Distrito">

    <!--input sucursal empleado-->
    <label for="inputhorario" class="visually-hidden">Horario</label>
    <input type = "time" id="inputhorario"  [(ngModel)]= "sedeDisp.openingTime" class="form-control" placeholder="Horario" name="Distrito">

    <!--input sucursal empleado-->
    <input type = "time" id="inputhorario"  [(ngModel)]= "sedeDisp.closingTime" class="form-control" placeholder="Horario" name="Distrito">

    <!--input tipo de planilla empleado-->
    <label for="inputadministrador" class="visually-hidden">Administrador</label>
    <input type = "administrador" id="inputadministrador"  [(ngModel)]= "sedeDisp.idAdmin" class="form-control" placeholder="Administrador" name="Distrito">

    <!--input salario empleado empleado-->
    <label for="inputcapacidad" class="visually-hidden">Capacidad</label>
    <input type = "number" id="inputcapacidad" [(ngModel)]= "sedeDisp.capacity" class="form-control" placeholder="Capacidad" name="Capacidad">

    <a>Sucursales Disponibles: </a>

    <select name="sedes" type = "sedes" id="sedes">
      <option value="Masaje descarga muscular" *ngFor="let sede of sucursalesDisp">{{sede.name}}</option>
    </select>

    <!--Upload data to loging with this button -->
    <button class="w-100 btn btn-lg btn-primary mb-2" type="Registrar" (click)="agregarSede()">Registrar</button>

    <button class="w-100 btn btn-lg btn-primary mb-2" type="Eliminar" href="welcome!">Eliminar</button>

    <button class="w-100 btn btn-lg btn-primary mb-2" type="Actualizar" href="welcome!">Actualizar</button>

  </form>

</main>

</body>

</html>
