<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />


</head>
<body class="text-center">

<main class="form-signin">
  <form>
    <img class="mb-4" src="../assets/img/logo-tec.png" alt="" width="200" height="107">
    <h1 class="h3 mb-3 fw-normal">Servicios Disponibles</h1>


    <!-- Inidicación de datos a solicitar para los tratamientos -->
    <a>Ingrese código y nombre de servicio</a>

    <!-- Input para solicitar el nombre del serivicio -->
    <label for="inputiposer" class="visually-hidden">TipoServicio</label>
    <input id="inputiposer" class="form-control" placeholder="Tipo de servicio" name="Tipo de servicio"
           [ngModel]="servicioSeleccionado.name" #inputservicio>

    <a>Servicios Disponibles: </a>

    <!-- List para agregar los servicios registrados en la página  -->

    <select name="servicios" type = "servicios" id="servicios" #servicio (change)="onChange(servicio.value)">
      <option value="">Servicios Disponibles</option>
      <option *ngFor="let service of serviciosDisp" [value]="service.id">ID: {{service.id}}</option>
    </select>

    <!--Upload data to loging with this button -->
    <button class="w-100 btn btn-lg btn-primary mb-2" type="submit" (click)="crearServicio(inputservicio.value)" >Agregar</button>

    <button class="w-100 btn btn-lg btn-primary mb-2" type="Actualizar" (click)="modificarServicio(servicio.value, inputservicio.value)">Actualizar</button>

    <button class="w-100 btn btn-lg btn-primary mb-2" type="Eliminar" (click)="eliminarServicio(servicio.value)">Eliminar</button>

  </form>
</main>

</body>
</html>
