<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />


</head>
<body class="text-center">

<main class="form-signin">
  <form>
    <img class="mb-4" src="../assets/img/logo-tec.png" alt="" width="200" height="107">
    <h1 class="h3 mb-3 fw-normal">Tratamientos de Spa</h1>


    <!-- Inidicación de datos a solicitar para los tratamientos -->
    <a>Ingrese código y nombre de tratamiento</a>

    <!-- Input para solicitar el nombre del serivicio -->
    <label for="inputiposer" class="visually-hidden">TipoServicio</label>
    <input type = "solservicio"  id="inputiposer"  [ngModel]= "tratamientoSeleccionado.name"
           class="form-control" placeholder="Servicio de spa"  name="Tratamiento de spa" #inputServicio>


    <a>Tratamientos Disponibles: </a>

    <select name="tratamientos" type = "tratamientos" id="tratamientos" #tratamiento (change)="onChange(tratamiento.value)">
      <option value="">Seleccionar tratamiento existente</option>
      <option  *ngFor="let tratamiento of tratamientosDisp" [value]="tratamiento.id">ID: {{tratamiento.id}}</option>
      <!-- <option value="audi">Audi</option> -->
    </select>

    <!--Upload data to loging with this button -->
    <button class="w-100 btn btn-lg btn-primary mb-2" type="Registrar" (click)="crearTratamiento(inputServicio.value)">Registrar</button>

    <button class="w-100 btn btn-lg btn-primary mb-2" type="Eliminar" (click)= "eliminarTratamiento(tratamiento.value)">Eliminar</button>

    <button class="w-100 btn btn-lg btn-primary mb-2" type="Actualizar" (click)="modificarTratamiento(tratamiento.value, inputServicio.value)">Actualizar</button>

  </form>
</main>

</body>
</html>
