<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />


</head>
<body class="text-center">

<main class="form-signin">
  <form>
    <img class="mb-4" src="../assets/img/logo-tec.png" alt="" width="200" height="107">
    <h1 class="h3 mb-3 fw-normal">Tratamientos de Spa</h1>


    <!-- Inidicación de datos a solicitar para los tratamientos -->
    <a>Ingrese código y nombre de tratamiento</a>

    <!-- Input para solicitar el nombre del serivicio -->
    <label for="inputiposer" class="visually-hidden">TipoServicio</label>
    <input type = "solservicio"  id="inputiposer"  [(ngModel)]= "tratamientos.nombreTratamiento"  class="form-control" placeholder="Tratamiento de spa"  name="Tratamiento de spa">

    <!-- Input para solicitar el nombre del serivicio -->
    <label for="inputIdServicio" class="visually-hidden">IdServicio</label>
    <input type = "idservcio" id="inputIdServicio"  [(ngModel)]= "tratamientos.iDTtratamiento" class="form-control" placeholder="Id Tratamiento" name="Id Tratamiento">


    <a>Tratamientos Disponibles: </a>

    <label for="tratamientos">Choose a car:</label>

    <select name="tratamientos" type = "tratamientos" id="tratamientos">
      <option value="Masaje relajante">Masaje relajante</option>
      <option value="Masaje descarga muscular">Masaje descarga muscular</option>
      <option value="Baños a vapor">Baños a vapor</option>
      <option  *ngFor="let tratamiento of tratamientosDisp">{{tratamiento.nombreTratamiento}}</option>
      <!-- <option value="audi">Audi</option> -->
    </select>


    <!-- List para agregar los servicios registrados en la página  -->


    <!--Upload data to loging with this button -->
    <!--Upload data to loging with this button -->
    <button class="w-100 btn btn-lg btn-primary mb-2" type="Registrar" (click)="agregarTratamientos()">Registrar</button>

    <button class="w-100 btn btn-lg btn-primary mb-2" type="Eliminar" href="welcome!">Eliminar</button>

    <button class="w-100 btn btn-lg btn-primary mb-2" type="Actualizar" href="welcome!">Actualizar</button>

  </form>
</main>

</body>
</html>
